.signup {
  padding-top: 3rem;
  height: 95vh;
  display: flex;
  align-items: center;
  background-color: #efefef;
}
.signupContainer {
  width: 900px;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.signupImage {
  width: 70%;
}
.signupImage h1 {
  padding: 10px 30px;
  color: rgb(11, 82, 152);
  font-size: 40px;
}
.signupImage img {
  width: 100%;
}
.signupDetail {
  padding: 2rem 4rem;
  width: 50%;
}
.signupDetail > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 11px;
}
.signupDetail > div:nth-child(1) h3,
span {
  color: rgb(57, 57, 57);
}
.signupDetail > div:nth-child(2) input,
select {
  width: 100%;
  padding: 10px;
  margin: 0.7rem auto;
  font-size: 15px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid rgb(187, 187, 187);
  color: gray;
  box-sizing: border-box;
}
.signupDetail > div:nth-child(2) button {
  width: 100%;
  padding: 10px;
  margin: 1rem 0;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: rgb(11, 82, 152);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
.signupDetail > div:nth-child(2) p {
  color: gray;
  font-size: 14px;
  margin: 5px 0;
}
.signupDetail > div:nth-child(2) p a {
  color: rgb(11, 82, 152);
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .signupContainer {
    width: 500px;
    padding: 0;
  }
  .signupImage {
    display: none;
  }
  .signupDetail {
    padding: 2rem 3rem;
    width: 100%;
  }
}
@media (max-width: 570px) {
  .signup {
    padding-top: 2rem;
  }
  .signupContainer {
    width: 320px;
  }
  .signupDetail {
    padding: 1rem 1rem;
  }
  .signupDetail > div:nth-child(2) p {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .signup {
    background-color: white;
    padding-top: 2rem;
  }
  .signupContainer {
    width: 280px;
  }
  .signupDetail {
    padding: 10px;
  }
  .signupDetail > div:nth-child(2) p {
    font-size: 11px;
    margin: 2px 0;
  }
}
