.profilePage {
  width: 80%;
  margin: auto;
  padding-top: 4.5rem;
  display: grid;
  grid-template-columns: auto 24rem;
}
.profileLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 10px;
}
.profileMiddle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
  height: 110vh;
  overflow: auto;
}
.hide {
  display: none;
}
@media screen and (max-width: 1150px) {
  .profilePage {
    width: 90%;
    grid-template-columns: auto 24rem;
  }
}
@media screen and (max-width: 1000px) {
  .profilePage {
    width: 95%;
    grid-template-columns: auto;
  }
  .profileLeft {
    display: none;
  }
  .hide {
    width: 100%;
    display: block;
    border-radius: 1rem;
    background-color: transparent;
  }
}

@media screen and (max-width: 920px) {
  .profilePage {
    padding-top: 4.5rem;
  }
}
@media screen and (max-width: 600px) {
  .profilePage {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .profilePage {
    padding-top: 4.3rem;
  }
}
@media screen and (max-width: 420px) {
  .profilePage {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 321px) {
  .profilePage {
    padding-top: 3rem;
  }
}
