.homePage {
  position: relative;
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 20rem auto;
  padding-top: 4.5rem;
}
@media screen and (max-width: 1150px) {
  .homePage {
    grid-template-columns: 20rem auto;
  }
}
@media screen and (max-width: 1000px) {
  .homePage {
    grid-template-columns: auto;
  }
  .profileSide {
    display: none;
  }
}
